/* screen.css: Screen Styles */
/* Significant changes from rpk by MJF */

/* Base Styles */

/* Bold on headings, b, and strong */
h1,h2,h3,h4,h5,h6,b,strong { font-weight: bold; }

/* Italic on i, em, and cite: */
i,em,cite { font-style: italic; }

/* Dotted border and help cursor to abbr and acronym: */
abbr,acronym { border-bottom: 1px dotted; cursor: help; }

/* Body */

body {
}

/* Element hierarchy:

  <main>                    <-- "There can be only one."
    <article id="area">
     <section id="topic">
       <div id="abstract">
       <aside> or <div id="discussion">
       <div id="take-away">
*/


/* Main */

main {
}

/* Major Divisions */

/* Article ("Area") - contains elements "section" */

article {
}


/* Section ("topic") - contains div#abstract, div#discussion, div#take-away */

section{
}

div#abstract {
}

div#discussion {
}

div#take-away {
}


/* Header */
header {
}
header h1 {
}
header h1 a {
}
header p.tagline {
}
header ul.accessibility {
}

/* Footer */
footer {
}
footer p.credits {
}
footer ul.validators {
}
footer ul.validators li {
}

/*Navigation*/
nav {
}

nav li {
}

nav li a {
}

nav li a:visited {
}

nav li a:hover,
nav li a:focus {
}


/*article Typography: Headings*/
article h2 {
}
article h3 {
}
article h4 {
}
article h5 {
}
article h6 {
}

/*article Typography: Paragraphs*/
article p {
}

/*article Typography: Unordered Lists*/
article ul {
}
article ul li {
}
/*Nested*/
article * li ul {
}
article * li ul li {
}

/*article Typography: Ordered Lists*/
article ol {
}
article ol li {
}
/*Nested*/
article * li ol {
}
article * li ol li {
}

/*main Typography: Links*/
main a {
}
main a:visited {
}
main a:hover,
main a:focus {
}

