/* screen.css: Screen Styles */

/* Base Styles */

/* Bold on headings, b, and strong */
h1,h2,h3,h4,h5,h6,b,strong { font-weight: bold; }
/* Italic on i, em, and cite: */
i,em,cite { font-style: italic; }
/* Dotted border and help cursor to abbr and acronym: */
abbr,acronym { border-bottom: 1px dotted; cursor: help; }

/* Body */

body {
}

/* Major Divisions */

/* Page (Containing Div) */
div#page {
}

/* Header */
div#header {
}
div#header h1 {
}
div#header h1 a {
}
div#header p.tagline {
}
div#header ul.accessibility {
}

/* Content --> Article */
/* Significant changes from rpk in this section.

Element/division hierarchy:

  <article>
    <div id="area">
      <div id="topic">
        <div id="topic-title">
        <div id="abstract">
        <div id="discussion">
        <div id="take-away">

*/

div#area {
}

div#topic {
}

div#topic-title {
}

div#abstract {
}

div#discussion {
}

div#take-away {
}


/* Footer */
div#footer {
}
div#footer p.credits {
}
div#footer ul.validators {
}
div#footer ul.validators li {
}

/*Navigation*/
ul#navigation {
}

ul#navigation li {
}

ul#navigation li a {
}

ul#navigation li a:visited {
}

ul#navigation li a:hover,
ul#navigation li a:focus {
}


/*article Typography: Headings*/
div#article h2 {
}
div#article h3 {
}
div#article h4 {
}
div#article h5 {
}
div#article h6 {
}

/*article Typography: Paragraphs*/
div#article p {
}

/*article Typography: Unordered Lists*/
div#article ul {
}
div#article ul li {
}
/*Nested*/
div#article * li ul {
}
div#article * li ul li {
}

/*article Typography: Ordered Lists*/
div#article ol {
}
div#article ol li {
}
/*Nested*/
div#article * li ol {
}
div#article * li ol li {
}

/*article Typography: Links*/
div#article a {
}
div#article a:visited {
}
div#article a:hover,
div#article a:focus {
}

